<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
		<title>CSCI 4140 Project</title>
		
		<!-- Pull the engine from the Quintus CDN or load it locally -->
		<!-- Full Source ~40k gzipped -->
		<script src='http://cdn.html5quintus.com/v0.2.0/quintus-all.js'></script>
		<!-- Production minified ~20k gzipped -->
		<script src='http://cdn.html5quintus.com/v0.2.0/quintus-all.min.js'></script>
		
		<!-- main script file -->
		<script src='platformer.js'></script>
		
		<style> 
			body { padding:0px; margin:0px; } 
		</style>
	</head>
	
	<body>
	   
	   
	</body>
</html>